{{ template "base" . }}

{{ define "title" }} RPS web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Aziderius</h2>
                <p>Soy un desarrollador web y certificado como Professional Cloud Developer en GCP.</p>
                <p>Este es mi primer proyecto en Go. Mi objetivo es crear paginas web y APIs con Go en un futuro. Espero te guste el proyecto y te sientas cómodo utilizandola.</p>
                <p>Como desarrollador me gusta experimentar nuevas tecnologías y aprender lo mas que se pueda de los éxitos y de los errores.</p>
                <p>Si tienes curiosidad sobre mis proyectos no dudes en visitar mi GitHub. Subo proyectos de Go y Python.</p>

                <ul class="py-3">
                    <li><a href="https://github.com/aziderius" target="_blank">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}